* text=auto

*.py text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.json text eol=lf
*.csv text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.svg text eol=lf
*.service text eol=lf
*.template text eol=lf

*.pdf binary
*.db binary
*.sqlite binary
*.sqlite3 binary
